:root {
  --color-primary: #2c2c2c;
  --bg-primary: #ffffff;
}

@media (prefers-color-scheme: dark) {
  body {
    --color-primary: #ffffff;
    --bg-primary: #28272b;
  }
}

@media (prefers-color-scheme: light) {
  body {
    --color-primary: #2c2c2c;
    --bg-primary: #ffffff;
  }
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: var(--bg-primary);
  transition: 0.1s ease-in-out;
}

.sheet {
  width: 80%;
  margin: 10vh;
  padding: 5vh;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-color: var(--bg-primary);
}

.textarea {
  font-size: 18px;
  border: 0px solid;
  min-width: 20%;
  width: 100%;
  max-width: 100%;
  text-align: center;
  overflow: scroll;
  padding: 8px;
  background-color: var(--bg-primary);
  color: var(--color-primary);
  margin-top: 12px;
  font-family: monospace;
}

.title {
  border: 0px solid;
  text-align: center;
  font-size: 42px;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
  color: var(--color-primary);
  background-color: var(--bg-primary);
}

.button {
  text-decoration: none;
  color: var(--color-primary);
  padding: 8px 16px;
  background-color: var(--bg-primary);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.068), 0 1px 2px 0 rgba(0, 0, 0, 0.073);
  border-radius: 12px;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 12px;
  margin-top: 12px;
}
